body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(232, 138, 203, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
